$colorPrimary: #673ab7;
$colorSecondary: darken(salmon, 5);
$colorDarkText: #2a2a2e;
$colorLightBackground: #f9f9fa;

$margin: 16px;
$mediaPhone: 600px;

$boxShadowButton: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
$boxShadowCard: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

@mixin font-header {
  font-family: 'Heebo', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
};

@mixin font-body {
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

@mixin card($color) {
  background-color: $color;
  background: radial-gradient($color, darken($color, 15));
  border-radius: 6px;
  padding: $margin * 2;
  box-shadow: $boxShadowCard;
}
